In [69]:
import os
import pandas as pd
import json

In [2]:
df=pd.read_csv('train.csv')

In [4]:
df.describe().loc[["min", "max"]].to_json("schema_in.json")

In [27]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [47]:
schema_num={}
schema_cat={}
#num_list=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
#cat_list=['workclass','education','marital-status','occupation','relationship','race','sex','country']
for i in range(len(df.columns)):
    while(i< 6):
        num_list=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
        for i in range(len(num_list)):
        #print("'"+i+"'")
            schema_num[num_list[i]]=type(df[num_list[i]][0])
        else:
            break
    while(i>=6):
        cat_list=['workclass','education','marital-status','occupation','relationship','race','sex','country']
        for i in range(len(cat_list)):
        #print("'"+i+"'")
            schema_cat[cat_list[i]]=type(df[cat_list[i]][0])
        else:
            break
    #df.columns.to_dict()

In [44]:
schema_num={}
num_list=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
for i in range(len(num_list)):
    #print("'"+i+"'")
    schema_num[num_list[i]]=type(df[num_list[i]][0])
    #schema_num[num_list[i]]=type(df[num_list[i]][0])
#else:

In [66]:
df['relationship'].value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

In [ ]:
df['workclass'].value_counts()

In [ ]:
{'age': 5,
 'fnlwgt': 5,
 'education-num': 5,
 'capital-gain': 5,
 'capital-loss': 5,
 'hours-per-week': 5
 'workclass': "some_string",
 'education': "some_string",
 'marital-status': "some_string",
 'occupation': "some_string",
 'relationship': "some_string",
 'race': "some_string",
 'sex': "some_string",
 'country': "some_string"
}

In [1]:
data= {'age': ['5'], 'fnlwgt': ['5'], 'education-num': ['5'], 'capital-gain': ['5'], 'capital-loss': ['5'], 'hours-per-week': ['5'], 'sex': ['Male'], 'workclass': [' State-gov'], 'education': [' Bachelors'], 'marital-status': [' Never-married'], 'occupation': [' Adm-clerical'], 'relationship': [' Not-in-family'], 'race': [' White'], 'country': [' United-States']}

In [2]:
import pandas as pd
df=pd.DataFrame(data)

In [3]:
import numpy as np
import scipy.stats as stat
import joblib
import pickle
import pandas as pd

In [4]:
intcols=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
df[intcols] = df[intcols].apply(pd.to_numeric)

In [5]:

def map_workclass(df):
    workclass_mapper = {
    ' State-gov': "other",
    ' Self-emp-not-inc': "other",
    ' Federal-gov': "other",
    ' Local-gov': "other",
    ' ?': "other",
    ' Self-emp-inc': "other",
    ' Without-pay': "other",
    ' Never-worked': "other"
    }
    df["workclass"] = df.workclass.map(workclass_mapper).fillna(df["workclass"])
    return df
    
def map_education(df):
    education_mapper ={' 11th': 'other',
    ' Masters': 'other',
    ' 9th': 'other',
    ' Assoc-acdm': 'other',
    ' Assoc-voc': 'other',
    ' 7th-8th': 'other',
    ' Doctorate': 'other',
    ' Prof-school': 'other',
    ' 5th-6th': 'other',
    ' 10th': 'other',
    ' 1st-4th': 'other',
    ' Preschool': 'other',
    ' 12th': 'other'}

    df['education'] = df['education'].map(education_mapper).fillna(df['education'])
    return df
    
def map_marital_status(df):
    marital_status_mapper = {' Divorced': 'other',
   ' Married-spouse-absent': 'other',
   ' Separated': 'other',
   ' Married-AF-spouse': 'other',
   ' Widowed': 'other'}

    df['marital-status'] = df['marital-status'].map(marital_status_mapper).fillna(df['marital-status'])
    return df

def map_occupation(df):
    occupation_mapper = {
    ' ?': 'Prof-specialty',
    ' Protective-serv': 'other',
    ' Armed-Forces': 'other',
    ' Priv-house-serv': 'other',
    ' Tech-support': 'other',
    ' Farming-fishing': 'other',
    ' Handlers-cleaners': 'other'
    }

    df['occupation'] = df['occupation'].map(occupation_mapper).fillna(df["occupation"])
    return df


def encode_categories(data):
   
    encoder_file="baseN_encoder.pkl"
    df=pd.DataFrame(data)

    map_workclass(df)
    map_education(df)
    map_marital_status(df)
    map_occupation(df)
    data_categorical=df[['workclass','education','marital-status','occupation','relationship','race','sex','country']]


    base_n=loaded_model = pickle.load(open(encoder_file, 'rb'))
    data_categorical=pd.DataFrame(base_n.transform(data_categorical))

    return data_categorical



def scale_data(df):
    
    scaler_file="standard_scaler.pkl"
    data_numerical=df[['age','education-num','capital-gain','capital-loss','hours-per-week']]
    sc=pickle.load(open(scaler_file, 'rb'))
    data_numerical=pd.DataFrame(sc.transform(data_numerical))

    return data_numerical

In [74]:
import joblib
def predict_from_web(dict_req):
    for k,v in dict_req.items():
        dict_req[k] = [v]
    dict_req=(dict_req)
    df=pd.DataFrame(dict_req)
    intcols=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
    df[intcols] = df[intcols].apply(pd.to_numeric)
    data_cat=encode_categories(df)
    data_num=scale_data(df)
    clean_data=np.c_[data_num,data_cat]
    loaded_model = joblib.load("model.joblib")
    if loaded_model.predict(clean_data)[0]==0:
        return 'income less than $50000'
    else:
        return 'income more than $50000'

In [24]:
df2=pd.DataFrame({'age': ['5'], 'fnlwgt': ['5'], 'education-num': ['5'], 'capital-gain': ['5'], 'capital-loss': ['5'], 'hours-per-week': ['5'], 'sex': ['Male'], 'workclass': [' State-gov'], 'education': [' Bachelors'], 'marital-status': [' Never-married'], 'occupation': [' Adm-clerical'], 'relationship': [' Not-in-family'], 'race': [' White'], 'country': [' United-States']})

In [25]:
intcols=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
df2[intcols] = df2[intcols].apply(pd.to_numeric)

In [26]:
data_cat=encode_categories(df2)

In [28]:
data_num=scale_data(df2)

In [29]:
clean_data=np.c_[data_num,data_cat]

In [42]:
dict_req={'age': ['5'], 'fnlwgt': ['5'], 'education-num': ['5'], 'capital-gain': ['5'], 'capital-loss': ['5'], 'hours-per-week': ['5'], 'sex': ['Male'], 'workclass': [' State-gov'], 'education': [' Bachelors'], 'marital-status': [' Never-married'], 'occupation': [' Adm-clerical'], 'relationship': [' Not-in-family'], 'race': [' White'], 'country': [' United-States']}

In [35]:
dict_req.items()

dict_items([('age', ['5']), ('fnlwgt', ['5']), ('education-num', ['5']), ('capital-gain', ['5']), ('capital-loss', ['5']), ('hours-per-week', ['5']), ('sex', ['Male']), ('workclass', [' State-gov']), ('education', [' Bachelors']), ('marital-status', [' Never-married']), ('occupation', [' Adm-clerical']), ('relationship', [' Not-in-family']), ('race', [' White']), ('country', [' United-States'])])

In [43]:
dict_req=(dict_req)

In [44]:
pd.DataFrame(dict_req)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,sex,workclass,education,marital-status,occupation,relationship,race,country
0,5,5,5,5,5,5,Male,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,United-States

In [75]:
dict_req={'age': '4', 'fnlwgt': '4', 'education-num': '4', 'capital-gain': '4', 'capital-loss': '4', 'hours-per-week': '4', 'sex': 'Male', 'workclass': ' State-gov', 'education': ' Bachelors', 'marital-status': ' Never-married', 'occupation': ' Adm-clerical', 'relationship': ' Wife', 'race': ' White', 'country': ' United-States'}

In [76]:
predict_from_web(dict_req)

/home/sanjeevan/anaconda3/lib/python3.8/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator SVC from version 0.24.1 when using version 0.24.0. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

'income less than $50000'

In [72]:
dict_req

{'age': ['4'],
 'fnlwgt': ['4'],
 'education-num': ['4'],
 'capital-gain': ['4'],
 'capital-loss': ['4'],
 'hours-per-week': ['4'],
 'sex': ['Male'],
 'workclass': [' State-gov'],
 'education': [' Bachelors'],
 'marital-status': [' Never-married'],
 'occupation': [' Adm-clerical'],
 'relationship': [' Wife'],
 'race': [' White'],
 'country': [' United-States']}

In [63]:
for k,v in dict_req.items():
    dict_req[k]
dict_req.values=[dict_req.values()]

AttributeError: 'dict' object attribute 'values' is read-only

In [54]:
dict_req=(dict_req)
#df=pd.DataFrame(dict_req)
dict_req.items()

{'age': '4',
 'fnlwgt': '4',
 'education-num': '4',
 'capital-gain': '4',
 'capital-loss': '4',
 'hours-per-week': '4',
 'sex': 'Male',
 'workclass': ' State-gov',
 'education': ' Bachelors',
 'marital-status': ' Never-married',
 'occupation': ' Adm-clerical',
 'relationship': ' Wife',
 'race': ' White',
 'country': ' United-States'}

In [49]:
predict_from_web(dict_req)

ValueError: If using all scalar values, you must pass an index