In [52]:
import os
import pandas as pd
import json

In [2]:
df=pd.read_csv('train.csv')

In [4]:
df.describe().loc[["min", "max"]].to_json("schema_in.json")

In [27]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [47]:
schema_num={}
schema_cat={}
#num_list=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
#cat_list=['workclass','education','marital-status','occupation','relationship','race','sex','country']
for i in range(len(df.columns)):
    while(i< 6):
        num_list=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
        for i in range(len(num_list)):
        #print("'"+i+"'")
            schema_num[num_list[i]]=type(df[num_list[i]][0])
        else:
            break
    while(i>=6):
        cat_list=['workclass','education','marital-status','occupation','relationship','race','sex','country']
        for i in range(len(cat_list)):
        #print("'"+i+"'")
            schema_cat[cat_list[i]]=type(df[cat_list[i]][0])
        else:
            break
    #df.columns.to_dict()

In [59]:
with open("cat_schema.json", "w") as outfile:
    json.dump(schema_cat, outfile)
with open("num_schema.json", "w") as outfile:
    json.dump(schema_num, outfile)

TypeError: Object of type type is not JSON serializable

In [44]:
schema_num={}
num_list=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
for i in range(len(num_list)):
    #print("'"+i+"'")
    schema_num[num_list[i]]=type(df[num_list[i]][0])
    #schema_num[num_list[i]]=type(df[num_list[i]][0])
#else:

In [60]:
schema_num

{'age': numpy.int64,
 'fnlwgt': numpy.int64,
 'education-num': numpy.int64,
 'capital-gain': numpy.int64,
 'capital-loss': numpy.int64,
 'hours-per-week': numpy.int64}